.profile__edit-btn {
  width: 22px;
  height: 22px;
  border: 1px solid #fff;
  background-image: url(../../../images/pen.svg);
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  margin: 15px 0 0 18px;
  display: block;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  outline: none;
}

.profile__edit-btn:hover {
  opacity: .6;
}

@media (max-width: 950px) {
  .profile__edit-btn {
    width: 17px;
    height: 17px;
    background-size: 7.5px 7.5px;
    margin:  7px 0 0 10px;
  }
}
