.menu__btn {
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.menu__btn:hover {
  opacity: 0.6;
}

@media (max-width: 500px) {
  .menu__btn {
    font-size: 18px;
    line-height: 1.22;
  }
}

/* @media (max-width: 420px) {
  .menu__btn {
    font-size: 14px;
    line-height: 1.21;
  }
} */
