.profile__text {
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  max-width: 336px;
}

@media (max-width: 950px) {
  .profile__text {
    margin: 26px 0 36px 0;
    justify-content: center;
  }
}
