.menu_active {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40px;
  left: 140px;
}

@media (max-width: 460px) {
  .menu_active {
    left: 120px;
  }
}

@media (max-width: 420px) {
  .menu_active {
    left: 110px;
  }
}

@media (max-width: 400px) {
  .menu_active {
    left: 100px;
  }
}

@media (max-width: 380px) {
  .menu_active {
    left: 95px;
  }
}

@media (max-width: 360px) {
  .menu_active {
    left: 80px;
  }
}

@media (max-width: 320px) {
  .menu_active {
    left: 60px;
  }
}
