.footer {
  margin: 0 0 0 200px;
  padding: 66px 0 60px;
  max-width: 68.75%;
}

@media (max-width: 1024px) {
  .footer {
    margin-left: auto;
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 420px) {
  .footer {
    max-width: 88.125%;
    margin: 48px auto 36px;
    text-align: start;
    padding: 0;
  }
}
