.profile {
  width: 68.75%;
  display: flex;
  justify-content: space-between;
  margin: 40px auto 0;
  align-items: center;
}

@media (max-width: 950px) {
  .profile {
    width: 282px;
    flex-direction: column;
    margin: 42px auto 0;
  }
}
